---
import Header from './Header.astro'
import Footer from './Footer.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="font-sans leading-[1.6] text-text bg-bg px-5">
	<div class="max-w-[900px] mx-auto py-10">
		<header>
			<Header />
		</header>
		<slot />
		<footer>
			<Footer />
		</footer>
	</div>
	</body>
</html>

